.maincard_c{
    width: 1000px;
    display: grid;
    display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     gap: 0px 0px;
     grid-template-areas:
       "Main-row Top-right"
       "Main-row lower-row";
   }
   // .grid-container{
   
   // }